.wallet-adapter-button-trigger {
    background-color: transparent !important;
}

.main {
    padding-top: 7vw;

    .btn {
        background-color: #1B1B1B;
        height: 45px;
        width: 250px;
        font-size: 20px;
        border: 0px solid white;
        border-radius: 10px;
        color: white;
        font-family: hvd_comic;
    }

}

.track {
    display: flex;
    flex-direction: column;

    .border {
        border-bottom: 1px solid #242433;
    }

    .track-btn {
        background-color: #1B1B1B;
        border: 0px solid white;
        border-radius: 12px;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        color: white;
        padding: 10px 20px;
        align-items: center;
        font-family: hvd_comic;

        .on {
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background-color: #00FC19;
            border: 0px solid white;
        }

        .off {
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background-color: #999595;
            border: 0px solid white;
        }
    }

    .buy-btn {
        background-color: #7E7E78;
        font-size: 12px;
        padding: 10px 15px;
        color: white;
        border-radius: 10px;
        border: 0px solid white;
        font-family: poppin;
    }

    .filter-btn {}

    .nft-item {
        display: flex;
        flex-direction: row;
        font-family: poppin;
        align-items: center;
        padding: 10px 0px;

        .img {
            width: 50px;
            height: 50px;
            border-radius: 5px;
        }
    }

    .sm-btn {
        color: white;
        font-size: 12px;
        border-radius: 10px;
        padding: 3px 7px;
        border: 0px solid white;
        background-color: #27282E;
        font-family: poppin;
    }

    .search {
        width: 240px;
        margin-left: auto;
        margin-right: auto;
        height: 45px;
        border-radius: 10px;
        border: 0px solid white;
        background-color: #141414;
        color: white;
        font-family: hvd_comic;
        font-size: 16px;
        outline: none;
        text-align: center;
        padding: 0px 10px;
    }

    .max {
        width: 100px;
        height: 40px;
        margin-left: 20px;
        border-radius: 10px;
        border: 0px solid white;
        outline: none;
        color: white;
        font-family: hvd_comic;
        font-size: 14px;
        text-align: center;
        padding: 0px 7px;
        background-color: #141414;
    }

    .filter {
        align-items: flex-start;

        .filter-item {
            cursor: pointer;
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 5px;
        }
    }

    .auto {

        img {
            width: 50px;
            height: 50px;
            border-radius: 5px;
        }

        .auto-buy {
            width: 100px;
            height: 45px;
            font-size: 16px;
            background-color: #7E7E78;
            font-family: hvd_comic;
            color: white;
            border-radius: 10px;
            border: 0px solid white;
        }


    }

    .content {
        height: calc(100vh - 270px);
    }
}

/**
    mobile responsive
*/

.logo-title {
    display: block;

    @media (max-width: 600px) {
        display: none;
    }
}

.responsive1 {
    display: block;

    @media (max-width: 600px) {
        display: none;
    }
}

.responsive {
    display: none;

    font-family: poppin;

    @media (max-width: 600px) {
        display: block;
    }

    .track-content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        height: calc(100vh - 350px);
    }

    .card {
        display: flex;
        flex-direction: column;
        padding: 4vh;
        row-gap: 20px;
    }

    .buy {
        width: 150px;
        height: 45px;
        background-color: #7E7E78;
        border-radius: 10px;
        color: white;
        font-family: poppin;
        font-size: 16px;
        border: 0px solid white;
    }

    .img {
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }
}