.wallet-adapter-button-trigger {
    background-color: transparent !important;
}

.main {
    padding-top: 7vw;

    .btn {
        background-color: #1B1B1B;
        height: 45px;
        width: 250px;
        font-size: 20px;
        border: 0px solid white;
        border-radius: 10px;
        color: white;
        font-family: hvd_comic;
    }

}